.row_posters img{
display: inline-block;    
width: 200px;
height: 300px;
margin: 10px;
}



.row_posters{
    height: 400px;
    display: flex;
    overflow-x:scroll ;
    overflow-y: hidden;
}
.row_posters::-webkit-scrollbar{
    display: none;
}